---
import Layout from '../layouts/Layout.astro'; 
import FluxImageList from '../components/FluxImageList.astro';


const title = '每天一句中国古诗词，生成 AI 图片 Powered by Flux.1';
// 1. 导入组件
// 2. 数据获取
// 3. 变量定义
// 4. 函数定义
---
<!-- 这里是模板 HTML 部分，可以使用上面定义的变量和函数 -->
<Layout title={title}>
  <div class="flex justify-center mt-12 text-xl px-5">
    {title}
  </div>
	<FluxImageList />
</Layout>
