<footer class="border border-t border-gray-800">
	<div class="container mx-auto text-sm px-4 py-6">
		Made with ❤️ by <a
			href="https://github.com/liruifengv"
			target="_blank"
			class="underline hover:text-gray-300">liruifengv</a
		> — Powered by <a
			href="https://astro.build"
			target="_blank"
			class="underline hover:text-gray-300">Astro</a
		> and <a
			href="https://www.bing.com/images/create"
			target="_blank"
			class="underline hover:text-gray-300">Bing DALL-E-3</a
		>.
	</div>
</footer>
